/*
*
*
* GLOBAL
*
*/

blockquote {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #162252;
}

.header-image{
  border:1px solid black; 
  height:200px;
}

.explanation{
    color: #bdbdbd;
    letter-spacing: 0.9px;
}


/* 
*
* Navigation
*
*/

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding-left: 17px;
    white-space: nowrap;
}
.Navigation{
  background-color:rgba(22, 34, 82, 0.8);
  padding: 0 30px;
  letter-spacing: 2px;
}
nav ul li.active {
    background-color: rgba(255,255,255,0.5);
    /* color: black; */
}

nav ul li:hover {
  background: rgba(255,255,255,0.2);
}

/*
*
*
* Picture Of The Day
*
*/
#PictureOfTheDay h2{
  color:#162252;
}
#PictureOfTheDay h4{
  margin-top:-7px;
}

#PictureOfTheDay img{
  margin-bottom:30px;
}

/*
*
*
* Loading 
*
*/
.loadingImages{
  position: absolute;
    left: 44%;
    top: 30%;
    font-size: 30px;
}

.loadingImages img {
  width: 61px;
}

/*
*
*
* Curiosity 
*
*/
.Curiosity{
  margin: 90px 50px;
}

.Curiosity  .card {
  border-radius: 12px;
}

.Curiosity .card img {
  border-radius: 12px 12px 0 0;
}

.Curiosity .card .card-reveal{
   border-radius:12px; 
}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 29px;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    color: #162252;
    transition: all 0.3s;
}

.failJSON{
  text-align:center;
}
.failJSON h3{
  color: #bdbdbd;
}
.failJSON img{
  margin-left:-69px; 
}
.failJSON a {
  margin: 22px 0;
}

.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #90caf9;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}

/* Date picker */
.picker__date-display {
    text-align: center;
    background-color: #90caf9;
    color: #fff;
    padding-bottom: 15px;
    font-weight: 300;
}

.picker__weekday-display {
    background-color: #90caf9;
    padding: 10px;
    font-weight: 200;
    letter-spacing: .5;
    font-size: 1rem;
    margin-bottom: 15px;
}
.picker__close, .picker__today {
    font-size: 1.1rem;
    padding: 0 1rem;
    color: #90caf9;
}

/*footer*/

#footer{
  background-color:rgba(22, 34, 82, 0.8);
  margin-top: 120px;
  display:;
}



